{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}
{% block body_class %}{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock extra_css %}
{% block content %}

<section class="post-section">
  {% image page.preview original as preview %}
  <img src="{{ preview.url }}" alt="{{ preview.alt }}" class="preview-image"/>

  <div class="post-grid">
    <div class="post-main">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="event-inline-btns">
        {% if page.document %}
          <a href="{{ page.document.url }}" class="post-btn" download>{{ _("Программа") }}</a>
        {% endif %}

        {% if user.is_authenticated %}
          <form action="{% url 'home:register_for_event' page.id %}" method="post">
            {% csrf_token %}
            {% if user in page.participants.all %}
              <button type="submit" class="post-btn-disabled" disabled>{{ _("Вы участвуете") }}</button>
            {% else %}
              <button type="submit" class="post-btn">{{ _("Принять участие") }}</button>
            {% endif %}
          </form>
        {% else %}
          <a href="{% url 'users:register' %}?next={% url 'home:register_for_event' page.id %}" class="post-btn">
            {{ _("Принять участие") }}
          </a>
        {% endif %}
      </div>
      <div class="post-content">
        {% for block in page.body %}
          {% include_block block %}
        {% endfor %}
      </div>
      
      {% if page.sponsors_gallery.count > 0 %}
        <h2 class="event-sponsors-title">{{ _("Спонсоры мероприятия:") }}</h2>
        <div class="event-sponsors">
          {% for item in page.sponsors_gallery.all %}
            <div class="event-sponsor">
              {% image item.image original as sponsor_image %}
              <img src="{{ sponsor_image.url }}" alt="{{ sponsor_image.alt }}" class="event-sponsor-image"/>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if user.is_superuser %}
        <div class="admin-only-section">
            <h4>Список участников:</h4>
            <ul>
                {% for record in page.eventparticipant_set.all %}
                    <li>
                        <div class="aos-group">
                          {{ record.user.first_name }} {{ record.user.last_name }} ({{ record.user.phone }})
                        </div>
                        <form method="post" action="{% url 'home:mark_attendance' page.id record.user.id %}">
                            {% csrf_token %}

                            <button type="submit">
                                {% if record.is_attended %}
                                    ✅ Пришел
                                {% else %}
                                    ⬜ Отметить приход
                                {% endif %}
                            </button>
                        </form>
                    </li>
                {% empty %}
                    <li>Никто не записался</li>
                {% endfor %}
            </ul>
            <hr/>
            <a href="{% url 'home:get_excel_report' page.id %}" class="post-btn ">Скачать Excel отчет</a>
        </div>
      {% endif %}
    </div>

    <aside class="post-aside">
      <h3 class="post-aside-title">{{ _("Последние события") }}</h3>
      <div class="post-cards">
        {% for post in latest_posts %}
          <a href="{% pageurl post %}" class="post-card">
            {% image post.preview width-720 as preview %}
            <img src="{{ preview.url }}" alt="{{ preview.alt }}">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
          </a>
        {% endfor %}
      </div>
      <a href="{{ page.get_parent.url }}" class="post-aside-backlink">{{ _("Больше событий") }}</a>
    </aside>
  </div>
</section>

{% endblock content %}