{% extends "base.html" %}
{% load static i18n wagtailcore_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock extra_css %}
{% block content %}
   
<form action="{% url 'users:logout' %}" method="post" class="logout-form">
    {% csrf_token %}
    <h1>{% translate "Здравствуйте, " %}{{ user.first_name }} {{ user.last_name }}!</h1>
    <p>{% translate "Здесь будет ваш личный кабинет, сейчас он в разработке." %}</p>
    <button type="submit" class="form-btn-main">{% translate "Выйти из аккаунта" %}</button>
</form>

<form method="post" id="ProfileForm" class="profile-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Сохранить изменения" %}</button>
</form>

{% endblock %}