:root{
  --hover-link-color: rgba(0, 0, 0, 0.066);
}

.kzglass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px) saturate(1.5);
  -webkit-backdrop-filter: blur(24px) saturate(1.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
}

.txtlink{
  &:hover{
    text-decoration: underline;
  }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    box-sizing: border-box;
    background: #eceef2;
    min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input, label{
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

h1{
  font-size: 2rem;
  font-weight: 400;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
  font-weight: 500;
}

header{
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .875rem;
  padding: 0 1rem;

  a{
    display: block;
    padding: .5rem 1rem;
    border-radius: .25rem;
    text-transform: uppercase;
  
    &:hover {
      background-color: var(--hover-link-color);
      transition: background-color 0.2s;
    }
  }

  ul{
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.menu-toggle, .hamburger, .mobile {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    transition: 0.3s;
  }

  .header-nav {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 70%;
    height: 100vh;
    transition: right 0.3s ease-in-out;
    z-index: 11;
    background: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }

  .header-nav ul {
    flex-direction: column;
    padding: 4rem;
    align-items: flex-start;
  }

  .header-login{
    margin-top: 1rem;
  }

  .menu-toggle:checked~.header-nav {
    right: 0;
  }

  .menu-toggle:checked~.hamburger span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle:checked~.hamburger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked~.hamburger span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.menu-toggle {
  display: none;
}

.header-logo{
  width: 6.25rem;
  height: 2.5rem;
  padding: 0;

  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-login {
  padding: .5rem 1rem;
  border-radius: .25rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--hover-link-color);
    transition: background-color 0.2s;
  }
}

section{
  margin-top: 4rem;
  padding: 0 2rem;
}

.hero {
  margin: 32px;
  position: relative;

  img{
    width: calc(100dvw - 64px);
    height: calc(100dvh - 128px);
    object-fit: cover;
    border-radius: 2rem;
  }
}

.hero-content{
  padding: 1rem;
  z-index: 2;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border-radius: 1rem;
  max-width: calc(100dvw - 8rem);
  width: 40%;

  h1{
    margin-bottom: .5rem;
  }
}

.home-section-top{
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card{
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:hover {
    background-color: rgba(219, 234, 254, 1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  h3{
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-weight: 500;
  }

  img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 1.5rem;
  }

  p{
    padding: 0 1.5rem;
  }
}

footer{
  padding: 0rem 2rem 1rem 2rem;
  margin-top: 4rem;

  hr{
    margin-bottom: 1rem;
  }
}

.footer-rights{
  padding:0 1rem;
}