.post-section{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.preview-image{
  border-radius: 1.5rem;
  width: 100%;
  height: auto;
  max-height: 66dvh;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.post-title{
  margin: 2rem 0;
}

.post-content{
  gap: 1.5rem;
  display: grid;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}