{% load static wagtailcore_tags wagtailuserbar %}
{% wagtail_site as current_site %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <header class="kzglass">
            <a href="/" class="header-logo"><img src="{% static 'imgs/logo.webp' %}" alt="Logo"/></a>

            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <label for="menu-toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <nav class="header-nav">
                <p>{{request.site}}</p>
                <ul>
                    {% for item in current_site.root_page.get_children.live.in_menu %}
                    <li>
                        <a href="{{ item.url }}"{% if item == page %}class="active"{% endif %}">{{ item.title }}</a>
                    </li>
                    {% endfor %}

                    {% if user.is_authenticated %}
                        <a href="{% url 'users:profile' %}" class="header-login mobile">КАБИНЕТ</a>
                    {% else %}
                        <a href="{% url 'users:login' %}" class="header-login mobile">ВОЙТИ</a>
                    {% endif %}
                </ul>
            </nav>

            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="header-login desktop">КАБИНЕТ</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="header-login desktop">ВОЙТИ</a>
            {% endif %}
        </header>

        {% block content %}{% endblock %}

        <footer>
            <hr/>
            <p class="footer-rights">ОО "Ассоциация педиатров города Астаны" © 2026г. Все права защищены.</p>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
